@media only screen and (max-width: 1024px) and (min-width: 461px) {

  .container {
    display: flex;
    flex-direction: column;
    text-align: left;

  }
  .three-up {
    display: flex;
    text-align: left;
    margin: 0px;

  }
  button{
    max-height: 60px;
  }
  .descript {
    font-size: 12px;
  }
  .price {
    font-size: 10px;
  }
  .brand {
    font-size: 15px;
  }

}


@import "normalize";
* {
  box-sizing: border-box;
}
.container {
display: flex;
flex-wrap: wrap;
max-width: 1040px;
margin: auto;
border: solid #47A1DA 4px;

}
.three-up {
  flex: 1 0 calc(33.3333% - 40px);
  text-align: center;
  margin: 20px;

}
.brand{
  color: #48A2DB;
  font-size: 29px;

}
.price {
  color: #C9C3C0;
  font-size: 25px;

}
.discript{
  color: #68AFE0;
  font-size: 15px;

}

button {
  background-color: #49A2DB;
  border: solid #49A2DB 1px;
  padding: 10px;
  color: white;
  border-radius: 3px;

}

button:hover{
  background-color: white;
  color: #49A2DB;
  border: solid green 1px;
     border-radius: 3px;
}
